*{
    padding: 0;
    margin: 0;
}


body{
    background-color: #17181A;
    height: 100%;
    color:white;
    font-family: 'Abril Fatface', cursive;
}
.navbar{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    /* to make the navbar on the toggle window after we click the two buttons */
    position: relative;
    z-index: 2;
}
.navbar h1{
    text-decoration: underline;
}
.menu-btn{
    margin-top: 20px;
}
.menu-item{
    display: block;
    width: 50px;
    height: 4px;
    background-color: white;
}

.menu-item-last{
    margin-top:5px
}
.banner{
    padding: 20px 200px;
    margin: 8% 0px;
    display: flex;
}
.banner-img img{
    width:400px;
    height: 400px;
}

.banner-img{
    display: inline-block;
    width: 50%;
}
.banner-text{
    display: inline-block;
    width: 50%;
    padding-left: 80px;
    margin-top: -41px;
}
.banner-text h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.banner-text p{
    margin-bottom: 25px;
}
.explore-btn{
    padding: 12px 25px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}
.colored-title{
    color: #4C6BC9;
}

.menu-popup{
    position: fixed;
    top:0;
    left:0;
    padding: 15%;
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    clip-path: circle(50px at 100% -10%);

} 